* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}


/* ESTILOS GENERALES DEL SITIO */
body {
    background-color: #eff3f5;
    min-height: 100vh;
}

li {
    list-style: none;
}

/* FINAL ESTILOS GENERALES DEL SITIO */

/* COMIENZO ESTILOS CABECERA */
.menuSocial {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
        display: flex;
        margin-right: 10%;

        a {
            padding: 10px;
            font-size: 20px;
            color: #3d535f;
        }
    }
}

header {
    position: sticky;
    top: 0px;
    z-index: 5000;
}

.contenedor__header {
    height: 80px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    a {
        text-decoration: none;
    }

    .logo {
        color: #3d535f;
        font-size: 30px;
        font-weight: 600;
    }

    //menu de navegacion
    .menu {
        #check {
            display: none;
            width: 50%;
        }

        .checkBtn {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                padding: 10px;

                a {
                    padding: 10px;
                    color: #3d535f;
                    text-decoration: none;

                    .fa-whatsapp {
                        font-size: 30px;
                    }
                }

            }
        }
    }
}

/* FIN ESTILOS CABECERA */
/* COMIENZO ESTILOS HERO */
.hero {
    width: 100%;
    height: 90%;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .heroText {
        width: 50%;

        .heroTitle {
            font-size: 30px;
            letter-spacing: 5px;
            color: #3d535f;
        }

        h1 {
            font-size: 30px;
        }

        .multiText {
            color: #C10000;
            opacity: .7;
        }

        h2 {
            font-size: 60px;
            color: #1E1926;
        }

        p {
            width: 90%;
            color: #3d535f;
            font-size: 1.2em;
        }
    }

    .heroImg {
        width: 50%;

        .imgBox {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

.waveContainer {
    width: 100%;
    background-color: transparent;
    .wave {
        transform: translateY(-100px);
    }
}

/* FINAL ESTILOS HERO */
/* COMIENZO SECCION SERVICIOS */
.servicios {
    position: relative;
    top: -120px;
    width: 100%;
    padding: 0 10% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d535f;
    h2 {
        font-size: 50px;
        color: #eff3f5;
        margin-bottom: 80px;
    }
    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 30px;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            width: 30%;
            min-width: 250px;
            max-width: 300px;
            height: 400px;
            background: #eff3f5;
            border-radius: 3px;
            box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.5);
            transition: all .3s;
            .imgContainer {
                width: 100%;
                height: 50%;
                padding: 2.5%;
                img {
                    width:100%;
                    height: 100%;
                }
            }
            .textContainer {
                height: 30%;
                width: 100%;
                padding: 5%;
                h3 {
                    margin-bottom: 20px;
                    color: #C10000;
                    opacity: .7;
                }
            }
            .btnContainer {
                height: 20%;
                width: 100%;
                padding: 5%;
                display: flex;
                justify-items: center;
                align-items: center;
                a {
                    margin: 0;
                    display: block;
                    justify-self: center;
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                    background-color: transparent;
                    box-shadow: none;
                    border: 2px solid #0607E4;
                    color: #0607E4;
                    transition: all .4s;
                    &:hover {
                        background-color: #0607E4;
                        color: #eff3f5;
                    }
                }
            }
        }
    }
}


/* FINAL SECCION SERVICIOS */