/* ESTE MAP CONTIENE LA PALETA DE COLORES DEL SITIO */
.bg-blue {
  background: #0607E4;
}

.bg-green {
  background: #3fa39c;
}

.bg-black {
  background: #292f36;
}

.bg-yellow {
  background: #f9c10d;
}

.bg-gray {
  background: #eff3f5;
}

.primaryButton {
  position: relative;
  font-size: 25px;
  font-weight: 400;
  padding: 8px 25px;
  margin: 40px 20px 40px 0;
  letter-spacing: 2px;
  border: none;
  background-color: #0607E4;
  color: #eff3f5;
  border-radius: 3px;
  box-shadow: 0 15px 10px rgba(41, 47, 54, 0.418);
  cursor: pointer;
}
.primaryButton:hover {
  background-color: #3b3bff;
}
.primaryButton:active {
  box-shadow: inset 1px 1px 1px #646566;
}

/* ESTILOS PARA LAS TARJETAS DE SERVICIOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

/* ESTILOS GENERALES DEL SITIO */
body {
  background-color: #eff3f5;
  min-height: 100vh;
}

li {
  list-style: none;
}

/* FINAL ESTILOS GENERALES DEL SITIO */
/* COMIENZO ESTILOS CABECERA */
.menuSocial {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menuSocial ul {
  display: flex;
  margin-right: 10%;
}
.menuSocial ul a {
  padding: 10px;
  font-size: 20px;
  color: #3d535f;
}

header {
  position: sticky;
  top: 0px;
  z-index: 5000;
}

.contenedor__header {
  height: 80px;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.contenedor__header a {
  text-decoration: none;
}
.contenedor__header .logo {
  color: #3d535f;
  font-size: 30px;
  font-weight: 600;
}
.contenedor__header .menu #check {
  display: none;
  width: 50%;
}
.contenedor__header .menu .checkBtn {
  display: none;
}
.contenedor__header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor__header .menu ul li {
  padding: 10px;
}
.contenedor__header .menu ul li a {
  padding: 10px;
  color: #3d535f;
  text-decoration: none;
}
.contenedor__header .menu ul li a .fa-whatsapp {
  font-size: 30px;
}

/* FIN ESTILOS CABECERA */
/* COMIENZO ESTILOS HERO */
.hero {
  width: 100%;
  height: 90%;
  padding: 40px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.hero .heroText {
  width: 50%;
}
.hero .heroText .heroTitle {
  font-size: 30px;
  letter-spacing: 5px;
  color: #3d535f;
}
.hero .heroText h1 {
  font-size: 30px;
}
.hero .heroText .multiText {
  color: #C10000;
  opacity: 0.7;
}
.hero .heroText h2 {
  font-size: 60px;
  color: #1E1926;
}
.hero .heroText p {
  width: 90%;
  color: #3d535f;
  font-size: 1.2em;
}
.hero .heroImg {
  width: 50%;
}
.hero .heroImg .imgBox {
  width: 100%;
}
.hero .heroImg .imgBox img {
  width: 100%;
}

.waveContainer {
  width: 100%;
  background-color: transparent;
}
.waveContainer .wave {
  transform: translateY(-100px);
}

/* FINAL ESTILOS HERO */
/* COMIENZO SECCION SERVICIOS */
.servicios {
  position: relative;
  top: -120px;
  width: 100%;
  padding: 0 10% 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3d535f;
}
.servicios h2 {
  font-size: 50px;
  color: #eff3f5;
  margin-bottom: 80px;
}
.servicios .cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 30px;
}
.servicios .cardsContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 30%;
  min-width: 250px;
  max-width: 300px;
  height: 400px;
  background: #eff3f5;
  border-radius: 3px;
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.servicios .cardsContainer .card .imgContainer {
  width: 100%;
  height: 50%;
  padding: 2.5%;
}
.servicios .cardsContainer .card .imgContainer img {
  width: 100%;
  height: 100%;
}
.servicios .cardsContainer .card .textContainer {
  height: 30%;
  width: 100%;
  padding: 5%;
}
.servicios .cardsContainer .card .textContainer h3 {
  margin-bottom: 20px;
  color: #C10000;
  opacity: 0.7;
}
.servicios .cardsContainer .card .btnContainer {
  height: 20%;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.servicios .cardsContainer .card .btnContainer a {
  margin: 0;
  display: block;
  justify-self: center;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #0607E4;
  color: #0607E4;
  transition: all 0.4s;
}
.servicios .cardsContainer .card .btnContainer a:hover {
  background-color: #0607E4;
  color: #eff3f5;
}

/* FINAL SECCION SERVICIOS */

/*# sourceMappingURL=main.css.map */
